/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: white;
    color: black;
}

h1 {
  font-family: verdana, arial, sans-serif; 
  color: orange;
  
}
button{
  padding: 10px;
border-radius: 10px;
}
#gameButtonArea > button {
  width:180px;
  height:200px;
  margin:2px;
}
.hidden {
  display: none;
}
#button1 {
    background: lightgreen;
}
#button2 {
    background: lightblue;
}
#button3 {
    background: pink;
}
#button4 {
    background: lightyellow;
}
#button5 {
    background: #5F8A8B;
}
#button6 {
    background: #d8bb5d;
}
#button1:active, #button1.lit {
    background:green;
}
#button2:active, #button2.lit {
    background:blue;
}
#button3:active, #button3.lit  {
    background:red;
}
#button4:active, #button4.lit  {
    background:yellow;
}

#button5:active, #button5.lit  {
    background:teal;
}
#button6:active, #button6.lit  {
    background:#ffd700;
}
.grid img {
margin: 2px;
transform-style: preserve-3d;
transition: transform 0.5s;
}

.grid img.flip {
transform: rotateY(180deg);
}

.popup {
background: red;
width: 200px;
height: 200px;
z-index:20;
position: fixed;
top: 100px;
left: 100px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.data {
display: flex;
justify-content: space-between;
padding: 20px 30px;
font-size: 23px;
}

.data span {
color: rgb(206, 121, 11);
font-size: 30px;
}